*.iml
.gradle
.gradle/
.kotlin
.kotlin/
/local.properties
local.properties
.idea/
.DS_Store
build/
/build
app/build/
**/build/
/captures
.externalNativeBuild
.cxx
.env
debug.keystore
.build-outputs/
*.apk
*.aab
test_*.kt
fix_end.sh
